<h1>Abertura de chamado</h1>
<div class="box-chamado">

    <div class="caixa-esquerda">
        <input type="text" placeholder="Digite seu nome" >
        <select name="setor">
            <option value="setor1">Setor 1</option>
            <option value="setor2" selected>Setor 2</option>
            <option value="setor3">Setor 3</option>
        </select>
        <div class="avisos">
            <h2>Avisos</h2>
        </div>
    </div>

    <div class="caixa-direita">
        <input type="text" placeholder="Descreva seu problema">

        <div class="caixa-enviar">
            <select name="urgencia">
                <option value="urgencia1">Urgencia 1</option>
                <option value="urgencia2" selected>Urgencia 2</option>
                <option value="urgencia3">Urgencia 3</option>
            </select>
            <button>Enviar</button>
        </div>

    </div>

</div>