h1{
    display: flex;
    justify-content: center;
}
.box-chamado{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-box input{
    font-size: 30px;
}

.setores select{
    width: 50%;
    font-size: 20px;
}

/****************************************************************/
