<div class="geral">

    <div>
        <div class="filtro">
        </div>

        <div class="historico">
    
        </div>
    </div>

    <div>
        <div class="lista-chamados">
            
            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>

            <div class="chamado">
            </div>
            
            
        </div>

        <div class="barra-tarefas">
            
        </div>
    </div>

</div>